html {
    background-color:#243133;
} 
h1 {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}
td {
    font-family: 'Trebuchet MS', sans-serif;
    padding-bottom: 1.5%;
    color: white;
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

td {
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 10%;
}
